#currentUserSignature, #userSignatureDisplay, 
#verifyUserSignature, #uploadedVerifySignature {
    width: 250px;
    height: 250px;

    border-style: solid;
    border-color: black;
}

.form-control::file-selector-button {
    color: white;
    background-color: #88214B;
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button  {
    background-color: #b66787;
}

table {
    background-color: rgb(243, 239, 239);
}
thead, tbody {
    font-family: '../static/fonts/Poppins-SemiBold.ttf';
}

#ownSignatureButton, #changeButton, 
#verifySignature, #saveUserSignature {
    color: white;
    background-color: #88214B;
}

#userInformation, #signatureCategory {
    font-family: '../static/fonts/Poppins-Black.ttf';
    color: #CC3271
}


.modal-content, .window.container, .inside.container {
    background-color: #F4C2D7;
    border-radius: 20px;
}

.inside.container {
    background-color: white;
    box-shadow: 5px 5px 13px #333333;
}

.row {
    padding: 0.5rem;
}