.home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-container1 {
    flex: 0 0 auto;
    color: var(--dl-color-gray-black);
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    font-family: Poppins;
    border-color: #88214B;
    border-width: 1px;
    justify-content: center;
    align-items: center;
    background-color: #F4C2D7;
  }
  
  .home-container2 {
    width: 100%;
    height: 2141px;
    display: flex;
    position: relative;
    align-items: center;
    border-color: #bfaeae;
    border-width: 2px;
    justify-content: center;
    background-color: var(--dl-color-gray-900);
  }
  .home-text {
    width: 471px;
    padding-top: 1px;
    position: absolute;
  }
  .home-text01 {
    font-size: 65px;
    font-family: Poppins;
  }
  /*trial*/
  .home-text02 {
    top: auto;
    color: rgb(127, 127, 127);
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
  }
  /*character 1*/
  .home-image {
    top: 80px;
    left: 800px;
    width: 394px;
    height: 394px;
    object-fit: cover;
  }
  /*upload image*/
  .home-image1 {
    width: 126px;
    height: 116px;
    object-fit: cover;
  }
  .home-button {
    top: 470px;
    left: 400px;
    color: whitesmoke;
    font-style: normal;
    font-weight: 1000;
    border-color: #88214b;
    background-color: #88214B;
    padding: 1%;
    border-radius: 10px;
  }
  .home-text03 {
    top: 400px;
  }
  .home-text04 {
    margin: auto;
    font-size: 40px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  
  .home-text05 {
    top: 121px;
    left: 900px;
    margin: auto;
    font-size: 35px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 600;
  }
  .home-text06 {
    font-family: Poppins;
    font-weight: 600;
    color: var(--dl-color-gray-500);
  }
  /*select*/
  .home-image2 {
    width: 137px;
    height: 162px;
    object-fit: cover;
  }
  .home-image3 {
    top: 415px;
    left: 650px;
    width: 121px;
    height: 111px;
    position: absolute;
    object-fit: cover;
  }
  .home-image4 {
    top: 572px;
    left: 600px;
    width: 351px;
    height: 430px;
    position: absolute;
    object-fit: cover;
  }
  .home-image5 {
    width: 925px;
    height: 589px;
    align-self: flex-start;
    object-fit: cover;
  }
  .home-text07 {
    font-size: 23px;
    font-family: Poppins;
    line-height: 1.5;
  }
  .home-image6 {
    width: 319px;
    height: 339px;
    object-fit: cover;
  }
  
  