{% extends "base.html" %}

{% block title %} SIGNIFY {% endblock %}

{% block css %}     
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="home-container container-fluid">
        <div class="home-container1 row">
            <div class="col text-center">
                <h6 class="home-text02">Free 30 Days Trial</h6>
                <h1 class="home-text01">Identify a</h1>
                <p class="home-text01">signature&apos;s</p>
                <p class="home-text01">authenticity</p>
                <h6 class="home-text03">This webapp uses image recognition through machine</h6>
                <h6 class="home-text03">learning to validate the true signature of the user.</h6>
                <a href="/verify" class="btn btn-success home-button">Click to Verify</a>
            </div>
            <div class="col text-center">
                <img src="../static/images/char1.png" alt="image" class="home-image">
            </div>
        </div>
        <br>
        <br>
        <div class="home-container2 row text-center">
            <h1 class="home-text04">How to Use Signify?</h1>
            <br>
            <br>
            <div class="row">
                <div class="col text-center">
                    <img src="../static/images/upload.png" alt="upload" class="home-image1">
                </div>
                <div class="col text-center">
                    <h1 class="home-text04">Step 1: Upload.</h1>
                    <h5 class="home-text06">Upload your first three signatures that will be placed in the dataset as a data of comparison for other signature attempts.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="../static/images/select.png" alt="select" class="home-image2">
                </div>
                <div class="col text-center">
                    <h1 class="home-text04">Step 2: Select.</h1>
                    <h5 class="home-text06">Select the Image of your signature which will be 
                        scanned to determine whether it is genuine or forged.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="../static/images/scan.png" alt="select" class="home-image1">
                </div>
                <div class="col text-center">
                    <h1 class="home-text04">Step 3: Scan.</h1>
                    <h5 class="home-text06">The system will identify the percentage of the signature accuracy and will tell 
                        whether the signature is forged or genuine.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col text-center">
                    <img src="../static/images/fake.png" alt="fake news" class="home-image6" >
                </div>
                <div class="col text-center">
                    <h1 class="home-text04">Incidence of Forgery</h1>
                    <h5 class="home-text07 text-justify">Signature forgery and impersonation are generating substantial breaches in policies 
                        and legal compliance procedures, as money and benefits are diverted to the wrong people, putting a burden on economic 
                        resources and, as a result, affecting the economy. Fake signatures are one of the primary areas of
                        fraudulent practices that many regulatory agencies are struggling to deal with.
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h1 class="home-text04">Importance of Signature</h1>
                    <h5 class="home-text07 text-justify">Each signature is unique depending on an individual's handwriting, variations of strokes,
                        and preferred design and style. It is hard to 
                        resources and, as a result, affecting the economy. Fake signatures are one of the primary areas of
                        fraudulent practices that many regulatory agencies are struggling to deal with. replicate unless there 
                        is an incidence of skilled forgery happened. However, there is still a basis for an original signature 
                        to discern its characteristics against a fake one. This is where image recognition is needed where it can be
                        able to use different algorithms to carefully verify an original signature. It can be able to detect in
                        a small amount of time while giving a higher precision and accuracy which a normal human can't do.
                    </h5>
                </div>
                <div class="col text-center">
                    <img src="../static/images/char2.png" alt="woman writing" class="home-image6" >
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img src="../static/images/fake.png" alt="fake news" class="home-image6" >
                </div>
                <div class="col text-center">
                    <h1 class="home-text04">Image Recognition and its Significance</h1>
                    <h5 class="home-text07 text-justify">
                        <span>
                            Image Recognition is the process capable of identifying places,
                            people, objects, and many other features inside a picture and
                            extracting conclusions through analysis. It is mostly based on Deep
                            Learning which is a subcategory of Machine Learning that refers to the
                            use of data and algorithms which will be used to gradually learn like
                            a human mind and improve its accuracy.
                        </span>
                        <br>
                        <br>
                        <span>
                            Signify will help to contribute to such demand for innovations in
                            Image Recognition. It will help to improve one of its sectors which is
                            to determine what are the behaviors of the signature for it to become
                            unique on one's person and use those factors to determine the
                            distinction and implement it as a final product of the study.
                        </span>
                    </h5>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}