{% extends "base.html" %}

{% block title %} SIGNIFY {% endblock %}

{% block css %}     
<link href="../static/css/home.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <div class="home-container">
        <div class="home-container1">
            <h1 class="home-text">
                <span class="home-text01">Identify a</span>
                <br class="home-text01" />
                <span class="home-text01">signature&apos;s</span>
                <br class="home-text01" />
                <span class="home-text01">authenticity</span>
                <br />
            </h1>
            <span class="home-text02">Free 30 Days Trial</span>
            <img src="../static/images/char1.png" alt="image" class="home-image">

            <a href="/verify" class="btn btn-success">Click to Verify</a>
            <span class="home-text03">
                <span>This webapp uses image recognition through machine</span>
                <br />
                <span>learning to validate the true signature of the user.</span>
            </span>
        </div>

        <div class="home-container2">
            <span class="home-text04">How to use Signify?</span>
            <span class="home-text05">Step 1: Upload.</span>
            <span class="home-text14">
                <span class="home-text15">Upload your first three signatures</span>
                <br class="home-text16" />
                <span class="home-text17">that will be placed in the dataset as a</span>
                <br class="home-text18" />
                <span class="home-text19">data of comparison for other</span>
                <br class="home-text20" />
                <span class="home-text21">signature attempts.</span>
                <span></span>
            </span>
            <img src="images/upload.png" alt="image" class="home-image1">
                 
            <span class="home-text06">Step 2: Select.</span>
            <span class="home-text22">
                <span class="home-text23">Select the Image of your signature</span>
                <br class="home-text24" />
                <span class="home-text25">which will be scanned to determine</span>
                <br class="home-text26" />
                <span class="home-text27">whether it is genuine or forged.</span>
                <span></span>
            </span>
            <img src="images/select.png" alt="image" class="home-image2">

            <span class="home-text13">Step 3: Scan.</span>
            <span class="home-text28">
                <span class="home-text29">The system will identify the percentage</span>
                <br class="home-text30" />
                <span class="home-text31">of the signature accuracy and will tell</span>
                <br class="home-text32" />
                <span class="home-text33">
                    whether the signature is forged or genuine.
                </span>
                <span></span>
                <br class="home-text34" />
                <br class="home-text35" />
                <span></span>
            </span>
            <img src="images/scan.png"
                 alt="image"
                 class="home-image3">

            <img src="images/bg2.png"
                 alt="image"
                 class="home-image5" />

            <h1 class="home-text12">Image Recognition and its Significance</h1>
            <span class="home-text07">
                <span>
                    Image Recognition is the process capable of identifying places,
                    people, objects, and many other features inside a picture and
                    extracting conclusions through analysis. It is mostly based on Deep
                    Learning which is a subcategory of Machine Learning that refers to the
                    use of data and algorithms which will be used to gradually learn like
                    a human mind and improve its accuracy.
                </span>
                <br>
                <br>
                <span>
                    Signify will help to contribute to such demand for innovations in
                    Image Recognition. It will help to improve one of its sectors which is
                    to determine what are the behaviors of the signature for it to become
                    unique on one's person and use those factors to determine the
                    distinction and implement it as a final product of the study.
                </span>
            </span>
            <img src="images/char2.png"
                 alt="image"
                 class="home-image6" />

            <img src="images/fake.png"
                 alt="image"
                 class="home-image4" />

            <h1 class="home-text10">Incidence of Forgery</h1>
            <span class="home-text08">
                <span>Signature forgery and impersonation are</span>
                <br>
                <span>generating substantial breaches in policies</span>
                <br>
                <span>and legal compliance procedures, as money</span>
                <br>
                <span>and benefits are diverted to the wrong people,</span>
                <br>
                <span>putting a burden on economic resources and,</span>
                <br>
                <span>as a result, affecting the economy.</span>
                <br>
                <span>Fake signatures are one of the primary areas of</span>
                <br>
                <span>fraudulent practices that many regulatory agencies</span>
                <br>
                <span>are struggling to deal with.</span>
            </span>

            <h1 class="home-text11">Importance of Signature</h1>
            <span class="home-text09">
                <span>Each signature is unique depending on an</span>
                <br>
                <span>individual's handwriting, variations of strokes,</span>
                <br>
                <span>and preferred design and style. It is hard to</span>
                <br>
                <span>replicate unless there is an incidence of skilled</span>
                <br>
                <span>forgery happened. However, there is still a basis</span>
                <br>
                <span>for an original signature to discern its</span>
                <br>
                <span>characteristics against a fake one. This is where</span>
                <br>
                <span>image recognition is needed where it can be</span>
                <br>
                <span>able to use different algorithms to carefully verify</span>
                <br>
                <span>an original signature. It can be able to detect in</span>
                <br>
                <span>a small amount of time while giving a higher</span>
                <br>
                <span>precision and accuracy which a normal human can't do.</span>
            </span>
        </div>
    </div>

</div>

{% endblock %}