{% extends "base.html" %}

{% block content%}
<h1 class="text-center mb-md-3">Verify Your Signature</h1> <br>
<form action="" method="POST" class="">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 d-flex flex-column">
                <input type="file" name="picture1" id="picture1" class="form-control mb-3">
                <img src="" alt="Picture 1">

            </div>
            <div class="col-md-6 d-flex flex-column">
                <input type="file" name="picture2" id="picture2" class="form-control mb-3">
                <img src="" alt="Picture 2">
            </div>
        </div> <br>
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-info">Compare</button>
                <a href="/" class="btn btn-info">Back</a>
            </div>
        </div>
    </div>
</form>

{% if result and percent: %}
<div class="container text-center mt-md-4 mt-3 border border-danger">
    <p>Status: <span style="color: red">{{ result }}</span> </p>
    <p>Accuracy: <span style="color: green">{{ percent }}</span> </p>
</div>
{% endif %}

{% endblock%}
